footer {
  width: 100%;

  text-align: center;
  background: #043b40;
  padding: 0.6rem;
  margin-top: 4rem;
}

.footer-copyright {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.1rem;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}
