footer {
  text-align: center;
  background: #043b40;
  margin-top: 120px;
  padding: 10px;
}

.footer-copyright {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}
