.home__container {
  padding-top: 1.5rem;
  position: relative;
  margin-bottom: 1.5rem;
  /* outline: 1px red solid; */
}

.home__left {
  padding: 0;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}

.home__right {
}

.home__gallery {
}

.home__subheader {
  padding: 0.8rem;
  /* border-radius: 0.8rem; */
  margin-bottom: 1.5rem;

  background-color: #043b40;
  color: white;
  text-align: center;
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
}

@media only screen and (max-width: 1200px) {
  .home__left {
    padding: 0;
    padding-right: 0.8rem;
  }
  .home__right {
    padding: 0;
  }
  .home__gallery {
    margin: 0;
  }
}

@media only screen and (max-width: 640px) {
  .home__left {
    overflow: hidden;
  }
  .home__right {
    overflow: hidden;
  }

  .home__subheader {
    padding: 0.6rem;
    /* border-radius: 0.8rem; */
    margin-bottom: 1.5rem;

    font-size: 1.7rem;
    line-height: 2rem;
  }
}
