.location__container {
}

.location__container .modal-content {
  background: none;
}

.location__modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 0.8rem;
  padding: 2.5rem;
  background: none;
  background-color: white;
}

.location__txt {
  color: #64797b;
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: medium;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.01rem;
}

.location__link {
  color: black;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.location__link:hover {
  color: #64797b;
}

.location__btn {
  width: auto;
  padding: 1rem 3rem;
  background: #0e122b;
  border-radius: 0.8rem;
  margin-top: -0.5rem;
  margin-bottom: 2rem;

  color: white;
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1rem;
}

.location__btn:hover,
.location__btn:focus {
  background: #64797b;
}
