.seller-container {
  padding-top: 2.5rem;
}

.seller-block {
  padding: 1rem;
  background-color: white;
  border-radius: 0.8rem;
  margin-bottom: 2.5rem;
}

.seller-info {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: bold;
  color: #0e122b;
  letter-spacing: 0.01rem;
}

.seller-name {
  font-size: 2rem;
  line-height: 2.2rem;
  letter-spacing: 0.01rem;
}

.seller-rating {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.seller-reviews {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 0.01rem;
  /* outline: 1px blue solid; */
}

.seller-about {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.6rem;
  letter-spacing: 0.01rem;
  /* outline: 1px blue solid; */
}

.seller-reviews-link {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-decoration: underline;
  cursor: pointer;
  letter-spacing: 0.01rem;
  /* outline: 1px blue solid; */
}

.seller-time {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #64797b;
  letter-spacing: 0.01rem;
}

.seller-about-text {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  max-width: 42rem;
  color: #64797b;
  /* outline: 1px blue solid; */
  /* letter-spacing: 0.01rem; */
}

.seller-foolow {
  padding: 12px 2rem 12px 1.6rem;
  border: 2px solid #0e122b;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #0e122b;
  transition: all 0.3s linear;
  cursor: pointer;
  letter-spacing: 0.01rem;
}

.seller-foolow:hover {
  background-color: #000;
  color: #fff;
}

.seller-contacts,
.seller-social-media {
  width: 14rem;
  color: #0e122b;
  margin-left: 3rem;
  /* padding-left: 5rem; */
  /* outline: 1px blue solid; */
}

.seller-contacts-text {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #64797b;
}

.seller-contacts-number {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.6rem;
}

.seller-social-media {
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #64797b;
}

.seller-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 1.5rem;
  /* margin: 3rem 0; */
  margin-bottom: 2.5rem;

  background-color: #fff;
  border-radius: 12px;
}

/* .seller-search .search__container {
  margin-right: 0;
} */

.seller-search .search__input {
  border: 1px solid #64797b;
}

.seller-search-results {
  margin: 0;
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-weight: medium;
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding: 0;
  padding-left: 1.5rem;
  /* text-align: center; */
  /* outline: 1px red solid; */
}

.seller-back-to-all {
  cursor: pointer;
  color: #64797b;
  font-weight: bold;
}
.seller-back-to-all:hover {
  color: #06717a;
}

.seller-products-number {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #0e122b;
}

.seller-image {
  width: 17.5rem;
  height: 13rem;
  margin-right: 0.5rem;
  /* outline: 1px red solid; */
}

.seller-soc-link {
  width: 2rem;
  height: 2rem;
  margin: 0;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  /* outline: 1px #06717a solid; */
}

.seller-soc-link:hover {
  box-shadow: 0px 0px 6px 0px rgba(4, 59, 64, 0.8);
}

.seller-soc-link > img {
  width: 2rem;
  height: 2rem;
}

@media only screen and (max-width: 990px) {
  .seller-image {
    display: none;
  }
  .seller-block {
    padding: 1rem;
    background-color: white;
    border-radius: 0.8rem;
    margin-bottom: 2.5rem;
  }

  .seller-name {
    font-size: 1.6rem;
    line-height: 1.8rem;
    letter-spacing: 0.01rem;
  }

  .seller-about-text {
    font-size: 1rem;
    line-height: 1.2rem;
    max-width: 25rem;
  }

  .seller-contacts,
  .seller-social-media {
    width: 13rem;
    margin-left: 1rem;
    /* padding-left: 5rem; */
    /* outline: 1px blue solid; */
  }

  .seller-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 1.5rem;
    /* margin: 3rem 0; */
    margin-bottom: 2.5rem;

    background-color: #fff;
    border-radius: 12px;
    /* outline: 1px red solid; */
  }

  .seller-search .search__input {
    border: 1px solid #64797b;
  }
}

@media only screen and (max-width: 640px) {
  .seller-container {
  }

  .seller-image {
    display: block;
  }
  .seller-block {
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    border-radius: 0.8rem;
    margin-bottom: 2.5rem;
  }

  .seller-image {
    width: 100%;
    margin-bottom: 1.2rem;
  }

  div.ps-4.seller-info {
    /* padding-left: 0; */
    padding-left: 0 !important;
  }

  .seller-info > div {
    padding: 0;
    margin: 0;
    max-width: 100%;
    width: 100%;
    flex-direction: column;
    /* outline: 1px blue solid; */
  }

  .seller-name {
    font-size: 1.6rem;
    line-height: 1.8rem;
    letter-spacing: 0.01rem;
  }

  .seller-time {
    text-align: center;
  }

  .seller-about-text {
    font-size: 1rem;
    line-height: 1.2rem;
    max-width: 25rem;
    text-align: center;
  }

  .seller-all-contacts {
    align-items: center;
  }

  .seller-foolow {
    width: 100%;
  }

  .seller-contacts,
  .seller-social-media {
    width: 100%;
    margin-left: 0;
    text-align: center;
    /* padding-left: 5rem; */
    /* outline: 1px blue solid; */
  }
  .social-media-icon {
    width: 100%;
    justify-content: space-around;
    /* outline: 1px blue solid; */
    margin-bottom: 1rem;
  }

  .seller-search-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12px 1.5rem;
    /* margin: 3rem 0; */
    margin-bottom: 1.5rem;

    background-color: #fff;
    border-radius: 12px;
    /* outline: 1px red solid; */
  }

  .seller-products-number {
    margin-bottom: 1rem;
  }

  .seller-search .search__input {
    border: 1px solid #64797b;
  }
}
