.seller-container {
  padding-top: 2.5rem;
}

.seller-block {
  padding: 1rem;
  background-color: white;
  border-radius: 0.8rem;
  margin-bottom: 2.5rem;
}

.seller-info {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: bold;
  color: #0e122b;
  letter-spacing: 0.01rem;
}

.seller-name {
  font-size: 2rem;
  line-height: 2.2rem;
  letter-spacing: 0.01rem;
}

.seller-rating {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.seller-reviews {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 0.01rem;
  /* outline: 1px blue solid; */
}

.seller-about {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.6rem;
  letter-spacing: 0.01rem;
  /* outline: 1px blue solid; */
}

.seller-reviews-link {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-decoration: underline;
  cursor: pointer;
  letter-spacing: 0.01rem;
  /* outline: 1px blue solid; */
}

.seller-time {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #64797b;
  letter-spacing: 0.01rem;
}

.seller-about-text {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  max-width: 42rem;
  color: #64797b;
  /* outline: 1px blue solid; */
  /* letter-spacing: 0.01rem; */
}

.seller-foolow {
  padding: 12px 2rem 12px 1.6rem;
  border: 2px solid #0e122b;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #0e122b;
  transition: all 0.3s linear;
  cursor: pointer;
  letter-spacing: 0.01rem;
}

.seller-foolow:hover {
  background-color: #000;
  color: #fff;
}

.seller-contacts,
.seller-social-media {
  width: 14rem;
  color: #0e122b;
  margin-left: 3rem;
  /* padding-left: 5rem; */
  /* outline: 1px blue solid; */
}

.seller-contacts-text {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #64797b;
}

.seller-contacts-number {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.6rem;
}

.seller-social-media {
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #64797b;
}

.seller-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 1.5rem;
  /* margin: 3rem 0; */
  margin-bottom: 2.5rem;

  background-color: #fff;
  border-radius: 12px;
}

/* .seller-search .search__container {
  margin-right: 0;
} */

.seller-search .search__input {
  border: 1px solid #64797b;
}

.seller-search-results {
  margin: 0;
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-weight: medium;
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding: 0;
  padding-left: 1.5rem;
  /* text-align: center; */
  /* outline: 1px red solid; */
}

.seller-back-to-all {
  cursor: pointer;
  color: #64797b;
  font-weight: bold;
}
.seller-back-to-all:hover {
  color: #06717a;
}

.seller-products-number {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #0e122b;
}

.seller-image {
  width: 17.5rem;
  height: 13rem;
  margin-right: 0.5rem;
  /* outline: 1px red solid; */
}
