.seller-block {
  padding: 12px;
}

.seller-info {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: bold;
  color: #0e122b;
}

.seller-name {
  font-size: 32px;
  line-height: 38px;
}

.seller-rating {
  font-size: 18px;
  line-height: 21px;
}

.seller-reviews {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.seller-about {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.seller-reviews-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-decoration: underline;
  cursor: pointer;
}

.seller-time {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #64797b;
}

.seller-about-text {
  margin: 8px 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  max-width: 416px;
  color: #64797b;
}

.seller-foolow {
  padding: 12px 32px 12px 28px;
  border: 2px solid #0e122b;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  font-family: TT Norms;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #0e122b;
  transition: all 0.3s linear;
  cursor: pointer;
}

.seller-foolow:hover {
  background-color: #000;
  color: #fff;
}

.seller-contacts,
.seller-social-media {
  color: #0e122b;
  padding-left: 95px;
}

.seller-contacts-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #64797b;
}

.seller-contacts-number {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.seller-social-media {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #64797b;
}

.seller-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  margin: 40px 0;
}

.seller-dropdown-item,
.seller-dropdown-button {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #64797b;
}

.seller-products-number {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #0e122b;
}
