.header {
  background-color: #043b40;
  padding: 0;
}

.header__navbar {
  padding: 0;
}

.header__navbar-collapse {
  /* outline: 1px white solid; */
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__logo {
  margin: 0;
  width: 5.3rem;
  height: 5.1rem;
  cursor: pointer;
}

.header__txt {
  /* justify-self: flex-end; */
  cursor: pointer;
  margin-right: 2rem;

  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: white;
  letter-spacing: 0.01rem;

  /* outline: 1px yellow solid; */
}

.header__txt:hover {
  color: #06717a;
}

.header__txt--profile {
  position: relative;
  padding-left: 2rem;
}

.header__txt--profile::before {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('./login_icon.svg');
  background-size: contain;
  left: 0;
  top: -0.15rem;
}

.nav-link:focus,
.nav-link:hover {
  color: #06717a;
}

@media only screen and (max-width: 1400px) {
  .header__txt {
    font-size: 1rem;
    line-height: 1rem;
  }
}
