.cities-dropdowm__txt {
  padding-top: 0.1rem;
  padding-left: 0.8rem;

  cursor: pointer;
  color: white;

  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.2rem;

  /* outline: 1px yellow solid; */
}

.cities-dropdowm__txt--dark {
  width: 16rem;
  color: #64797b;
  font-size: 1.5rem;
  line-height: 2rem;
  border: 1px #64797b solid;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.cities-dropdowm__txt::before {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('./location_icon.svg');
  background-size: cover;
  left: 0;
  top: 0.4rem;
}

.cities-dropdowm__txt--dark::before {
  display: none;
}

.cities-dropdowm__txt a,
.cities-dropdowm__txt a:focus {
  color: white;
}
.cities-dropdowm__txt--dark a,
.cities-dropdowm__txt--dark a:focus {
  color: #64797b;
  font-size: 1.5rem;
  line-height: 2rem;
}

.cities-dropdowm__txt a:link,
.cities-dropdowm__txt a:hover,
.cities-dropdowm__txt a:visited,
.cities-dropdowm__txt a:active {
  color: #06717a;
}

.cities-dropdowm__txt .dropdown-item {
  color: #043b40;
}

.dropdown-menu {
  border: 0;
}

.cities-dropdowm__txt--dark #basic-nav-dropdown {
  position: relative;
}

.cities-dropdowm__txt--dark #basic-nav-dropdown::after {
  border: 0;
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-image: url('./arrow_down.svg');
}
