.sellerCard {
  flex-grow: 0; /* do not grow   - initial value: 0 */
  flex-shrink: 0; /* do not shrink - initial value: 1 */
  flex-basis: 19em; /* width/height  - initial value: auto */

  width: 19em;
  height: 28em;
  cursor: 'pointer';
  border: 0;
  background: none;
  border-radius: 0.8em;

  margin-bottom: 1.5em;
  margin-right: 1.6em;
}

.sellerCard:nth-child(3n) {
  margin-right: 0;
}

.sellerCard__body {
  cursor: pointer;
  position: relative;
  /* outline: 1px red solid; */
  padding: 0.8em;
  background-color: white;
  border-radius: 0.8em;
}

.sellerCard__img {
  width: 100%;
  margin-bottom: 1.5em;
}

.sellerCard__name {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.8em;
  letter-spacing: 0.05em;
}

.sellerCard__categories {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  /* outline: 1px red solid; */
}

.sellerCard__category {
  margin-right: 1em;

  list-style: none;
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 2.4em;
}

.sellerCard__bottom {
  position: absolute;
  width: 17.3em;
  bottom: 0.8em;
  left: 0.8em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  /* outline: 1px red solid; */
}

.sellerCard__rating {
  padding-left: 1.8em;
  position: relative;
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.2em;
}

.sellerCard__rating::before {
  content: '';
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  background-image: url('./rating_icon.svg');
  left: 0;
  top: -0.2em;
}

.sellerCard_review {
  font-weight: normal;
  font-size: 0.9em;
}

.sellerCard__follow {
  position: relative;
  background: none;
  border: 2px solid #000000;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  padding-left: 2.4em;

  font-family: 'TTNorms';
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.2em;
}

.sellerCard__follow::before {
  content: '';
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  background-image: url('./wish_icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  left: 0.6em;
  top: 0.5em;
}
