.product-weight {
  color: #64797b;
  font-weight: 500;
  font-size: 1.1em;
  line-height: 1.2rem;
}

.product-price {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.7rem;
}

.product-name {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.7rem;
}

.product-card {
  border: none;
  margin-bottom: 1.5rem;
  border-radius: 0.8rem;
  font-family: 'TTNorms';
  color: #0e122b;
  letter-spacing: 0.01em;
}
.product-seller {
  cursor: pointer;
}

.product-seller-name {
  font-style: normal;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.2rem;
  letter-spacing: 0.01em;
}

.product-seller-image {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
}
.product-seller-image > img {
  margin-left: -1em;
}

.product-seller-time {
  margin-top: 0.5rem;
  max-width: 10em;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  color: #64797b;
  /* outline: 1px blue solid; */
  /* letter-spacing: 0.01em; */
}

.product-seller-bottom {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;

  /* outline: 1px green solid; */
}

.product-seller-link {
  width: 63%;
  color: #0e122b;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.2em;
  text-decoration: underline;
  cursor: pointer;
  /* margin-right: 1em; */
  letter-spacing: 0.01em;
  /* outline: 1px red solid; */
}

.product-seller-link:hover {
  color: #64797b;
}

.product-seller-rating-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 37%;
  /* outline: 1px blue solid; */
}

.product-seller-rating {
  color: #12201a;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.2rem;
}
.product-seller-reviews {
  color: #12201a;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.2rem;
}

@media only screen and (max-width: 640px) {
  .product-card {
    /* min-height: 22rem; */
  }

  .product-favourite-btn {
    width: 2.5rem;
  }
  .product-name {
    font-size: 1.2rem;
    line-height: 1rem;
  }

  .product-price-weight-container {
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
  }
  .product-weight {
    font-size: 1.1em;
    line-height: 1.4rem;
    margin: 0 !important;
  }

  .product-price {
    font-size: 1.3rem;
    line-height: 1rem;
  }

  .seller-name-img-container {
    /* outline: 1px red solid; */
    margin-top: 1rem !important;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
  }
  .product-seller-name {
    display: block;
    width: 100%;
    font-size: 1.1em;
    line-height: 1.2rem;
    letter-spacing: 0.01em;
    text-align: left;
    /* outline: 1px green solid; */
  }

  .product-seller-image {
    display: none;
    width: 2rem;
    height: 2rem;
    order: -1;
    /* outline: 1px green solid; */
    margin-bottom: 0.5rem;
  }

  #product-seller-time {
    display: none !important;
  }
  .product-seller-bottom {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;

    /* outline: 1px green solid; */
  }

  .product-seller-link {
    width: 100%;
    margin-bottom: 0.7rem;
    font-size: 0.8rem;
  }

  .product-seller-link:hover {
    color: #64797b;
  }

  .product-seller-rating-container {
    display: flex;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    width: 100%;

    /* outline: 1px blue solid; */
  }

  .product-seller-rating {
    margin: 0;
    width: 100%;

    color: #12201a;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.2rem;
    /* outline: 1px blue solid; */
  }
  .product-seller-reviews {
    color: #12201a;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.2rem;
  }
}
