.categoriesAccordion__list {
  position: sticky;
  z-index: 1;
  top: 1rem;
  /* width: 19rem; */
  background-color: white;
  padding: 1rem 2rem;
  padding-right: 1rem;
  border-radius: 0.8rem;

  /* outline: 1px red solid; */
}

.categoriesAccordion__item {
  position: relative;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  padding-left: 2.4rem;
  border: 0;
  /* outline: 1px red solid; */

  font-family: 'TTNorms';
  font-style: normal;
  font-weight: medium;
  font-size: 1rem;
  line-height: 1.2rem;
}

.categoriesAccordion__item:hover,
.categoriesAccordion__item:focus {
  background: none;
  /* font-weight: bold; */
}

.categoriesAccordion__item::before {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  /* outline: 1px green solid; */
  left: 0;
  top: 0.6rem;
}

.categoriesAccordion__item--collapsed:focus {
  font-weight: bold;
}

.categoriesAccordion__item--collapsed::after {
  content: '';
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  /* outline: 1px green solid; */
  background-image: url('./icons/arrow_right.svg');
  background-repeat: no-repeat;
  background-position: center center;
  right: 0;
  top: 1rem;
}

.categoriesAccordion__item--deals::before {
  background-image: url('./icons/deal_icon.svg');
}
.categoriesAccordion__item--fruits::before {
  background-image: url('./icons/fruits_icon.svg');
}
.categoriesAccordion__item--berries::before {
  background-image: url('./icons/berries_icon.svg');
}
.categoriesAccordion__item--vegetables::before {
  background-image: url('./icons/vegs_icon.svg');
}
.categoriesAccordion__item--meat::before {
  background-image: url('./icons/meat_icon.svg');
}
.categoriesAccordion__item--fish::before {
  background-image: url('./icons/fish_icon.svg');
}
.categoriesAccordion__item--dairy::before {
  background-image: url('./icons/dairy_icon.svg');
}
.categoriesAccordion__item--bakery::before {
  background-image: url('./icons/bakery_icon.svg');
}
.categoriesAccordion__item--grocery::before {
  background-image: url('./icons/grocery_icon.svg');
}
.categoriesAccordion__item--frozen::before {
  background-image: url('./icons/frozen_icon.svg');
}
.categoriesAccordion__item--honey::before {
  background-image: url('./icons/honey_icon.svg');
}

.categoriesAccordion__sublist {
  /* display: none; */
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 16rem;
  z-index: 10;
  left: 94%;
  top: 0;
  cursor: default;
  transition: all 0.3s;

  background: white;
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
  /* outline: 1px blue solid; */
}

.categoriesAccordion__sublist--visible {
  opacity: 1;
  left: 103%;
  pointer-events: all;
  /* width: 13rem; */

  display: block;
}

.categoriesAccordion__subheader {
  position: relative;
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: medium;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.categoriesAccordion__subheader::after {
  content: '';
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  /* outline: 1px green solid; */
  /* background-image: url('./icons/fruits_icon.svg'); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  right: 0rem;
  top: 0;
}

.categoriesAccordion__subheader--deals::after {
  background-image: url('./icons/deal_icon.svg');
}
.categoriesAccordion__subheader--fruits::after {
  background-image: url('./icons/fruits_icon.svg');
}
.categoriesAccordion__subheader--berries::after {
  background-image: url('./icons/berries_icon.svg');
}
.categoriesAccordion__subheader--vegetables::after {
  background-image: url('./icons/vegs_icon.svg');
}
.categoriesAccordion__subheader--meat::after {
  background-image: url('./icons/meat_icon.svg');
}
.categoriesAccordion__subheader--fish::after {
  background-image: url('./icons/fish_icon.svg');
}
.categoriesAccordion__subheader--dairy::after {
  background-image: url('./icons/dairy_icon.svg');
}
.categoriesAccordion__subheader--bakery::after {
  background-image: url('./icons/bakery_icon.svg');
}
.categoriesAccordion__subheader--grocery::after {
  background-image: url('./icons/grocery_icon.svg');
}
.categoriesAccordion__subheader--frozen::after {
  background-image: url('./icons/frozen_icon.svg');
}
.categoriesAccordion__subheader--honey::after {
  background-image: url('./icons/honey_icon.svg');
}

.categoriesAccordion__subitem {
  padding: 0.8rem 0;
  cursor: pointer;

  list-style: none;
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: medium;
  font-size: 1rem;
  line-height: 1.2rem;
  text-transform: capitalize;
  letter-spacing: 0.01rem;
}

@media only screen and (max-width: 1400px) {
  /* .categoriesAccordion__list {
    width: 16.5rem;
  } */
}

@media only screen and (max-width: 990px) {
  .categoriesAccordion__list {
    position: sticky;
    z-index: 1;
    top: 1rem;
    /* width: 19rem; */
    background-color: white;
    padding: 0.5rem 1rem;
    padding-right: 1rem;
  }

  .categoriesAccordion__item {
    position: relative;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
    padding-left: 2rem;
    border: 0;

    font-family: 'TTNorms';
    font-style: normal;
    font-weight: medium;
    font-size: 1rem;
    line-height: 1.2rem;
  }
}

@media only screen and (max-width: 640px) {
  .categoriesAccordion__list {
    display: none;
  }
  /* .categoriesAccordion__list {
    position: initial;
    margin-bottom: 3rem;
    margin-left: 1rem;
  } */

  .categoriesAccordion__subheader {
    display: none;
  }

  .header__catalogue-container .categoriesAccordion__sublist {
    display: none;
    opacity: 1;
    pointer-events: none;
    position: initial;
    width: 16rem;
    /* height: 0; */
    left: 0;
    top: 0;
    cursor: default;
    transition: all 0.3s;

    background: white;
    padding: 0rem 1rem;
    border-radius: 0.8rem;
    /* outline: 1px blue solid; */
  }

  .header__catalogue-container .categoriesAccordion__sublist--visible {
    pointer-events: initial;
    display: block;
    /* outline: 1px red solid; */
  }

  .header__catalogue-container .categoriesAccordion__sublist {
  }

  .categoriesAccordion__subitem {
    padding: 0.4rem 0;
  }
}
