.search__container {
  width: 10rem;
  position: absolute;
  left: 4rem;
  /* left: 50%; */
  /* margin-left: -10rem; */
  top: -0.3rem;
  /* align-self: center; */
  /* justify-self: start; */
  padding: 0;
  /* margin-right: 20em; */
  /* outline: 1px green solid; */
}

.search__form {
  position: relative;
  width: 20rem;
  /* outline: 1px yellow solid; */
}

.search__input {
  background-color: white;
  border-radius: 2rem;
  border: none;
  padding: 0.8rem 1.5rem;
  padding-right: 2.5rem;

  color: #64797b;
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: medium;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0.01rem;
}

.search__button {
  position: absolute;
  right: 1rem;
  top: 0.6rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 0;

  background-color: white;
  background-image: url(./search_icon.svg);
  font-size: 0;
}

.suggestions {
  position: absolute;
  z-index: 100;
  left: 1rem;
  top: 2.4rem;
  padding: 0;
  border-radius: 0 0 0.8rem 0.8rem;
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
  padding-left: 1rem;

  width: 90%;
  background-color: white;
  /* outline: 1px green solid; */
}

.suggestions--hidden {
  display: none;
}

.suggestion {
  list-style: none;
  padding: 0.5rem 0;
  cursor: pointer;
}

.suggestion:hover {
  font-weight: 600;
}

@media only screen and (max-width: 1400px) {
  .search__container {
    margin-right: 8em;
  }
}
