.products__container {
  padding-top: 2.5rem;
}

.product-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1.5rem;
  /* margin: 40px 0; */
  background-color: #fff;
  border-radius: 0.8rem;
  margin-bottom: 2.5rem;
}

.product-dropdown-item,
.product-dropdown-button {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #64797b;
}

.products-number {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #0e122b;
}

.product-search .search__container {
  margin-right: 0;
}
.product-search .search__input {
  border: 1px solid #64797b;
}

.products-cards {
  display: flex;
  align-items: stretch;
  align-content: stretch;

  /* outline: 1px blue solid; */
  /* align-content: stretch; */
}
